In [25]:
import librosa
import pandas as pd
import numpy as np

In [106]:
filename = '../Data/Alap/CC_8b_Bag/CC_8b_Bag-pitch.csv'
pitch_df = pd.read_csv(filename)

In [107]:
pitch_df

         time   pitch  energy
0        0.00 -3000.0     0.0
1        0.01 -3000.0     0.0
2        0.02 -3000.0     0.0
3        0.03 -3000.0     0.0
4        0.04 -3000.0     0.0
...       ...     ...     ...
19737  197.37 -3000.0     0.0
19738  197.38 -3000.0     0.0
19739  197.39 -3000.0     0.0
19740  197.40 -3000.0     0.0
19741  197.41 -3000.0     0.0

[19742 rows x 3 columns]

In [108]:
pitch_len = pitch_df.iloc[(np.diff(pitch_df['pitch'].values, prepend=np.nan) != 0).nonzero()][['time', 'pitch']].copy()

In [109]:
pitch_len['duration'] = np.diff(pitch_len['time'], append=(pitch_df.iloc[-1, 0]+0.1))

In [110]:
pitch_len['end time'] = pitch_len['time'] + pitch_len['duration']

In [111]:
pitch_len.loc[pitch_len['pitch'] == -3000]

         time   pitch  duration  end time
0        0.00 -3000.0      2.67      2.67
552      5.52 -3000.0      0.72      6.24
929      9.29 -3000.0      0.32      9.61
1087    10.87 -3000.0      2.07     12.94
1341    13.41 -3000.0      1.50     14.91
...       ...     ...       ...       ...
17751  177.51 -3000.0      0.44    177.95
18168  181.68 -3000.0      0.48    182.16
18323  183.23 -3000.0      0.01    183.24
18735  187.35 -3000.0      0.41    187.76
19182  191.82 -3000.0      5.69    197.51

[73 rows x 4 columns]

In [112]:
threshold = 0.5

In [113]:
bps = pitch_len.loc[(pitch_len['pitch'] == -3000) & (pitch_len['duration'] >= threshold)].reset_index(drop=True)

In [114]:
new_df_vals = {'start time': [], 'end time': [], 'duration': [], 'type': []}

In [115]:
for i, row in list(bps.iterrows())[:-1]:
    
    new_df_vals['start time'].append(row['time'])
    new_df_vals['end time'].append(row['end time'])
    new_df_vals['duration'].append(row['duration'])
    new_df_vals['type'].append('BP')
    
    new_df_vals['start time'].append(row['end time'])
    new_df_vals['end time'].append(bps.iloc[i+1, 0])
    new_df_vals['duration'].append(new_df_vals['end time'][-1] - new_df_vals['start time'][-1])
    new_df_vals['type'].append('SP')

In [116]:
phrases_df = pd.DataFrame(new_df_vals)
#phrases_df.to_csv('/home/nithya/Desktop/phrases2.csv', index=False)
sphrases_df = phrases_df.loc[phrases_df['type'] == 'SP'].reset_index()

In [117]:
seqs_dict = {'start time': [], 'end time': [], 'duration': [], 'singing duration': []}
for i, row in phrases_df.iterrows():
    if row['type'] == 'SP':
        if row['duration'] > 20:
            # the singing phrase is > 20s
            seqs_dict['start time'].append(row['start time'])
            seqs_dict['end time'].append(row['start time']+20)
        else:
            subset = phrases_df.loc[(phrases_df['start time'] >= row['start time']) & (phrases_df['end time'] <= row['start time']+20)]
            seqs_dict['start time'].append(row['start time'])
            seqs_dict['end time'].append(subset.iloc[-1, 1])
        seqs_dict['duration'].append(seqs_dict['end time'][-1] - seqs_dict['start time'][-1])
        seqs_dict['singing duration'].append(pitch_len.loc[(pitch_len['time'] >= seqs_dict['start time'][-1]) & (pitch_len['time'] <= seqs_dict['end time'][-1] ) & (pitch_len['pitch'] != -3000)].shape[0] / 100)

In [118]:
seqs = pd.DataFrame(seqs_dict)

In [119]:
#seqs.to_csv('/home/nithya/Desktop/seqs2.csv', index=False)

In [120]:
bps

      time   pitch  duration  end time
0     0.00 -3000.0      2.67      2.67
1     5.52 -3000.0      0.72      6.24
2    10.87 -3000.0      2.07     12.94
3    13.41 -3000.0      1.50     14.91
4    19.78 -3000.0      0.75     20.53
5    22.51 -3000.0      0.67     23.18
6    28.64 -3000.0      0.77     29.41
7    31.22 -3000.0      0.60     31.82
8    33.65 -3000.0      0.67     34.32
9    34.53 -3000.0      0.77     35.30
10   36.56 -3000.0      1.27     37.83
11   39.72 -3000.0      0.97     40.69
12   45.77 -3000.0      4.26     50.03
13   50.08 -3000.0      1.07     51.15
14   53.18 -3000.0      0.55     53.73
15   59.05 -3000.0      0.67     59.72
16   65.53 -3000.0      0.55     66.08
17   69.69 -3000.0      0.64     70.33
18   75.88 -3000.0      1.14     77.02
19   77.12 -3000.0      2.69     79.81
20   82.62 -3000.0      0.54     83.16
21   87.45 -3000.0      0.62     88.07
22   98.41 -3000.0      0.57     98.98
23  104.21 -3000.0      0.66    104.87
24  109.66 -3000.0      1.26    110.92
25  114.37 -3000.0      0.87    115.24
26  118.53 -3000.0      0.60    119.13
27  124.66 -3000.0      1.30    125.96
28  132.79 -3000.0      1.54    134.33
29  136.80 -3000.0      0.56    137.36
30  144.00 -3000.0      0.50    144.50
31  153.50 -3000.0      0.50    154.00
32  158.05 -3000.0      0.62    158.67
33  162.92 -3000.0      0.56    163.48
34  167.73 -3000.0      0.55    168.28
35  170.66 -3000.0      0.58    171.24
36  191.82 -3000.0      5.69    197.51

In [121]:
phrases_df

    start time  end time  duration type
0         0.00      2.67      2.67   BP
1         2.67      5.52      2.85   SP
2         5.52      6.24      0.72   BP
3         6.24     10.87      4.63   SP
4        10.87     12.94      2.07   BP
..         ...       ...       ...  ...
67      163.48    167.73      4.25   SP
68      167.73    168.28      0.55   BP
69      168.28    170.66      2.38   SP
70      170.66    171.24      0.58   BP
71      171.24    191.82     20.58   SP

[72 rows x 4 columns]

In [122]:
seqs

    start time  end time  duration  singing duration
0         2.67     22.51     19.84             13.60
1         6.24     23.18     16.94             11.02
2        12.94     31.82     18.88             13.51
3        14.91     34.53     19.62             14.81
4        20.53     39.72     19.19             12.69
5        23.18     40.69     17.51             10.83
6        29.41     45.77     16.36             10.18
7        31.82     51.15     19.33              8.57
8        34.32     53.73     19.41              8.85
9        35.30     53.73     18.43              8.77
10       37.83     53.73     15.90              7.89
11       40.69     59.72     19.03             11.28
12       50.03     69.69     19.66             15.58
13       51.15     70.33     19.18             15.54
14       53.73     70.33     16.60             13.62
15       59.72     77.12     17.40             13.62
16       66.08     83.16     17.08             11.12
17       70.33     88.07     17.74             11.43
18       77.02     88.07     11.05              6.42
19       79.81     98.98     19.17             15.50
20       83.16     98.98     15.82             12.81
21       88.07    104.87     16.80             14.02
22       98.98    118.53     19.55             15.10
23      104.87    124.66     19.79             14.97
24      110.92    125.96     15.04             10.38
25      115.24    134.33     19.09             13.77
26      119.13    137.36     18.23             13.40
27      125.96    144.50     18.54             14.84
28      134.33    154.00     19.67             16.47
29      137.36    154.00     16.64             14.08
30      144.50    163.48     18.98             15.66
31      154.00    171.24     17.24             14.00
32      158.67    171.24     12.57             10.32
33      163.48    171.24      7.76              6.26
34      168.28    171.24      2.96              2.24
35      171.24    191.24     20.00             17.91

In [123]:
print('Number of BPs: ', str(phrases_df.loc[phrases_df['type'] == 'BP'].shape[0]))

Number of BPs:  36

In [124]:
print('Average duration of Singing Phrases: ', str(phrases_df.loc[phrases_df['type'] == 'SP', 'duration'].mean()))

Average duration of Singing Phrases:  4.305277777777777

In [125]:
print('Average duration of sequences sampled: ', str(seqs['duration'].mean()))

Average duration of sequences sampled:  17.13888888888889