In [29]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [42]:
dataFile = '../Seqs/finalData/pitch/hard_2/SCh-norm.npz'
ragaFile = '../Seqs/raga_mapping.csv'
ragas = pd.read_csv(ragaFile)

In [43]:
data = np.load(dataFile)

In [44]:
print('Train Stats')
train_hist = np.histogram(data['y_train'], bins=np.arange(10), density=False)
train_df = pd.DataFrame({'index': ragas['index'].values, 
                         'raga': ragas['raga'].values,
                         'Number of sequences': train_hist[0]
                        })
train_df

Train Stats

   index   raga  Number of sequences
0      0    Bag                  497
1      1  Bahar                  472
2      2  Bilas                  477
3      3   Jaun                  481
4      4  Kedar                  370
5      5     MM                  512
6      6  Marwa                  490
7      7   Nand                  488
8      8  Shree                  517

In [45]:
train_df['Number of sequences'].sum()

4304

In [46]:
print('Test Stats')
test_hist = np.histogram(data['y_test'], bins=np.arange(10), density=False)
test_df = pd.DataFrame({'index': ragas['index'].values, 
                         'raga': ragas['raga'].values,
                         'Number of sequences': test_hist[0]
                        })
test_df

Test Stats

   index   raga  Number of sequences
0      0    Bag                  223
1      1  Bahar                  206
2      2  Bilas                  225
3      3   Jaun                  217
4      4  Kedar                  339
5      5     MM                  333
6      6  Marwa                  250
7      7   Nand                  222
8      8  Shree                  243

In [47]:
test_df['Number of sequences'].sum()

2258